html { 
    background: #f4f4f4 no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #pageArea{
    box-sizing: border-box;
      height: 100vh;
      margin-top: 10px;
      margin-left:  5%;
      margin-right:  5%;
      background-color: white;
      box-shadow: 3px 3px 5px 6px #ccc;  
      border-radius: 10px;
  }

  #DashboardArea{
    box-sizing: border-box;
      height: 100vh;
      margin-top: 10px;
      margin-left:  5%;
      margin-right:  5%;
      background-color: white;
      box-shadow: 3px 3px 5px 6px #ccc;  
      border-radius: 10px;
  }

.nav-link {
  font-size: 80%;
  font-weight: 500;
}